    </div> <!-- Close main-content -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="copyright">© <span id="currentYear"></span> Pomodoro Timer. All rights reserved.</div>
                <p class="credit">Made with <i class="fas fa-heart"></i> by <a href="https://github.com/thangnpq" target="_blank">Thangnpq</a></p>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
</body>
</html> 